*{
    padding:0;
    margin:0;
    font-family:'Times New Roman', Times, serif;
}
.navbar{
    width:100%;
    font-size:25px;
}
.nav{
    margin-left:5px;
    padding:10px;
    text-align:center;
}
marquee{
    color:red;
}
footer{
    font-size:20px;

}
.content{
    font-size:20px;
    color:rgb(10, 10, 140);
}
.design{
    color:rgb(136, 11, 11);
}
.team{
    font-size:50px;
    color:rgb(8, 12, 115);
}
@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }